/*
================================================================================
Lists
================================================================================
*/

dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
}

dt {
    font-weight: $font-weight-bold;
}

ol, ul {
    margin-left: 1.2rem;
    padding-left: 0;

    li > & {
        margin-bottom: 0;
    }
}
