/*
================================================================================
List spaced
================================================================================

An object specifically for lists that spaces out their items
to provide more breathing room.
*/

dd, li {
    .list-spaced > &:not(:last-child) {
        margin-bottom: 1rem;
    }

    .list-spaced--sm > &:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    .list-spaced--lg > &:not(:last-child) {
        margin-bottom: 1.5rem;
    }
}
