/*
================================================================================
Button
================================================================================

Button styles for the most common uses. Color, size,
icon and loading variants available.
*/

.btn {
    --color-text: var(--color-gray-80, colorFallback('gray-80'));
    --color-bg-focus: var(--color-gray-10, colorFallback('gray-10'));
    align-items: center;
    background-color: #fff;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    color: var(--color-text);
    font-size: 1rem;
    display: inline-flex;
    gap: 0.5em;
    justify-content: center;
    line-height: 1.2;
    padding: 0.7em 1em;
    text-decoration: none;
    transition:
        background-color 150ms ease-out,
        border-color 150ms ease-out,
        color 150ms ease-out;

    &:focus-visible {
        box-shadow: var(--offset-ring);
        outline: 0;
    }

    &:focus:where(:not(:disabled)),
    &:hover:where(:not(:disabled)) {
        background-color: var(--color-bg-focus);
    }
}

/*
 * Icon displayed next to the text.
 */
.btn__icon {
    height: 1em;
    width: auto;
}


/* Color variants
============================================================================= */

.btn--neutral {
    --color-bg-focus: var(--color-gray-20, colorFallback('gray-20'));
    background-color: var(--color-gray-15, colorFallback('gray-15'));
    border-color: transparent;
}

.btn--danger {
    --color-text: #fff;
    --color-bg-focus: var(--color-red-60, colorFallback('red-60'));
    background-color: var(--color-red-55, colorFallback('red-55'));
    border-color: transparent;
}

.btn--success {
    --color-text: #fff;
    --color-bg-focus: var(--color-green-45, colorFallback('green-45'));
    background-color: var(--color-green-40, colorFallback('green-40'));
    border-color: transparent;
}


/* Size variants
============================================================================= */

.btn--xs {
    font-size: 0.65rem;
    padding: 0.6em 0.75em;
}

.btn--sm {
    font-size: 0.8rem;
    padding: 0.7em 0.8em;
}

.btn--lg {
    font-size: 1.25rem;
    padding: 0.7em 1.2em;
}


/* Icon-only button
============================================================================= */

.btn--icon {
    padding: 0.4em;

    > * {
        @copy .btn__icon;
    }
}


/* Loading state
============================================================================= */

/*
 * Replace the text and icon of a button with
 * a loading animation to provide feedback.
 */
.btn--loading {
    color: transparent;
    position: relative;

    &::after {
        animation: sonata-btn-loading 750ms linear infinite;
        border-color: color-mix(in srgb, var(--color-text) 10%, transparent);
        border-right-color: var(--color-text);
        border-top-color: var(--color-text);
        border-radius: 50%;
        border-style: solid;
        border-width: 2px;
        content: "";
        display: block;
        height: 1.2em;
        inset: calc(50% - 0.6em);
        position: absolute;
        width: 1.2em;
    }

    &:disabled {
        filter: none;
        opacity: 1;
    }
}

@keyframes sonata-btn-loading {
    0%   { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}
